// Import variables from _variable.scss (assuming it's in the same directory)
@import "_variable";

// Global Styles
html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow-x: hidden;
   
  
}


//NavBar section

.navbar { 
  grid-row: 1; 
  display: flex;
  padding-left: 8rem;
  padding-right: 8rem;
  border-bottom: 1px solid white;
  position: relative;

  .navbar__brand {
    margin-top: 11px;
  }
  .navbar__nav {
    position: relative; 
    
    
  }

  .navbar__nav ul {
    display: inline-block; 
    padding: 0; 
    margin-left: 15px;
    margin-right: 15px;
    
    
  }


  

  .navbar__nav ul a {
    display: inline-block; 
    padding: 0; 
    color: $color;
    text-decoration: none;
  }


  li {
    display: inline-block;
    list-style-type: none; 
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
  }

  a {
    color: $color;
    text-decoration: none;
  }

   i {
    color: white; 
    margin-left: 8px;
    cursor: pointer;
  }

  .navbar__navsearch{
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  

// NavBar resource hover dropdown  
  .resources__dropdown {
    display: none;
    position: absolute;
    top: calc(80% + 1px);
    left: 75;
    width: 440px;
    height: 335px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 100; 
    border-radius: 8px;

    

    .content__blog, .content__Customer, .content__Video {
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-left: 45px;
      justify-content: start; 
      height: 100px; 
      box-sizing: border-box; 
      
      

      i {
        margin-right: 10px;
        font-size: 20px;
        color: #1D6FA3;

         .fa-solid {
          font-size: 15px;
         }
      }

      .title {
        font-weight: 600;
        margin-bottom: 5px;
      }

      .text {
        margin: 0;
        font-size: 14px;
        color: #666;
      }
    }
  }

  li.dropdown:hover .resources__dropdown {
    display: block;
  }

  .navbar__search {
    position: fixed;
    top: 20%; // Adjust as needed
    left: 50%;
    transform: translateX(-50%);
    width: 43%;
    z-index: 999;
  
    .search-dialog {
      position: relative;
  
      .search-form {
        position: relative;
  
        .search-input {
          width: calc(100% - 10px); 
          height: 56px;
          border-radius: 16px;
          padding-right: 10px;
          padding-left: 50px; 
          display: none;
  
          &::placeholder {
            padding-top: 5px;
            font-size: 16px;
            color: #62696F;
          }
        }
  
        .search-icon {
          position: absolute;
          top: 50%;
          left: 15px;
          transform: translateY(-50%);
          color: #555;
          display: none;
        }
  
        .close-button {
          position: absolute;
          top: -20%;
          cursor: pointer;
          background: none;
          border: 1px solid white;
          background-color: white;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          font-size: 20px;
          padding: 1px;
          color: #585858;
          display: none;
         
          justify-content: center;
          align-items: center;
        }
      }
  
      
    }
  }
  
}


// hero section
.hero {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh; 

  .hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%; 

    h1 {
      margin: 0; 
      font-size: 60px; 
      color: white;
      font-weight: 600;
    }

    p {
      margin: 30px 0 0 0; 
      font-size: 20px;
      color: white;
    }

    .hero-box {
      display: flex;
      margin-top: 40px; 
      padding-top: 20px;
     padding-bottom: 20px;
    padding-left: 35px;
     padding-right: 35px;
    border: 2px solid #FFE500; 
    border-radius: 8px;
    cursor: pointer;

      h2 {
        margin: 0;
        font-size: 18px; 
        color: white;
        padding-top: 5px;
        padding-left: 2px;
      }

      i{
        color: white;
        padding-left: 10px;
        font-size: 1.5rem;
        padding-top: 5px;
      }
    }
  }
}



.container {
  position: relative; 
  height: 95vh; 
  width: 100%;

}

.bg-section {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: -1;
  
  background-image: linear-gradient(rgba(0, 41, 83, 0.8), rgba(0, 45, 91, 0.8)), 
                    url("/yipl-frontend-challenge/landing-page/images/hero-Section.jpeg");
  background-size: cover;
  background-position: center;
}


// Campaign section

.campaigns {
  position: relative;
  background-color: #F9F9FF;
  padding: 66px 0 96px;
  width: 100%;

  .container__main{
    text-align: center;

    h3{
      margin-bottom: 20px;
      font-size: 32px;
      color: #24272E;
    }
    p{
      margin-bottom: 48px;
      color: #667085;
      line-height: 30px;
    }
  }

  
  .campaign__all {
    display: flex;
    gap: 45px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .campaign {
    flex: 1 1 30%;
    max-width: 352px;
    height: 596px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;

    .campaign-image {
      width: 100%;
      height: 352px;
      margin: 0;
      padding: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }

    .campaign-content {
      padding-top: 20px;
      width: 100%;

      h3 {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 30px;
        font-size: 18px;
        color: #24272E;
        font-weight: 600;
      }

      p {
        padding: 0 30px;
        font-size: 14px;
        color: #7C7D82;
        line-height: 21px;
      }

      button {
        background-color: white;
        border: none;
        padding: 10px 30px 0;
        font-size: 16px;
        color: #1D6FA3;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          color: #3990c7;
        }
      }
    }
  }
}



//footer section

.footer {
  display: flex;
  flex-direction: column;
  height: 70vh; 

  .footer__top {
    flex: 0 0 80%;
    position: relative;
    display: flex;

    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 41, 83, 0.8), rgba(0, 45, 91, 0.8)), url('/yipl-frontend-challenge/landing-page/images/footer.jpeg');
      background-size: cover;
      background-position: center;
      z-index: 1; // Adjusted to ensure it does not overlap content
    }

    .footer__logo {
      position: relative; 
      z-index: 2; 
      padding-left: 12%;
      padding-top: 8%;
      padding-bottom: 6%;
      

      img {
        position: relative;
        width: 250px; 
        height: 65px; 
        z-index: 3; 
        
        
        
      }

      p {
        color: white; 
        font-size: 14px;
        font-weight: 300;
      }

      .footer__social{

        ul{
          display: flex;
          list-style: none;
          gap: 15px;
          padding: 0;
          margin: 0;
          padding-top: 5px;
          
          
        }
          
        i{
          color: #3A3D43;
          font-size: 16px;
          border: 1px solid white;
          padding: 5px;
          border-radius: 50%;
          background-color: white;
        }
      }
    }

    

    .footer__links{
      position: relative; 
      z-index: 2; 
      padding-top: 7%;
      padding-bottom: 6%;
      padding-left: 28%;

      h3{
        color: white;
        font-size: medium;
        font-weight: 500;
      }
      ul{
        list-style: none;
        
        padding-left: 0;
        
        
        margin: 0px;
      
        li{
          padding-top: 10px;
          a{
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-weight: 300;
            
          }
        }
      }
    }

    .footer__Resources{
      position: relative; 
      z-index: 2; 
      padding-top: 7%;
      padding-bottom: 6%;
      padding-left: 7%;

      h3{
        color: white;
        font-size: medium;
        font-weight: 500;
      }
      ul{
        list-style: none;
        
        padding-left: 0;
        
        
        margin: 0px;
      
        li{
          padding-top: 10px;
          a{
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-weight: 300;
            
          }
        }
      }
    }

    .footer__Work{
      position: relative; 
      z-index: 2; 
      padding-top: 7%;
      padding-bottom: 6%;
      padding-left: 7%;

      h3{
        color: white;
        font-size: medium;
        font-weight: 500;
      }
      ul{
        list-style: none;
        
        padding-left: 0;
        
        
        margin: 0px;
      
        li{
          padding-top: 10px;
          a{
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-weight: 300;
            
          }
        }
      }
    }
  }

  .footer__bottom {
    flex: 0 0 20%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 ; 

    span {
      color: #7C7D82;
      margin-left: 12%; 
      font-size: 14px;
      cursor: pointer;
    }

    .footer__blogo {
      display: flex;
      align-items: center;

      img {
        width: 120px; 
        height: 55px; 
        margin-right: 90px; 
      }

      i {
        color: #7C7D82; 
        border: 1px solid white;
        border-radius: 50%;
        background-color: white;
        font-size: 20px; 
        margin-right: 30px;
        padding: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        cursor: pointer;  
      }

      i:hover {
      transform: translateY(-5px); 
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
}
    }
  }
}

// -----------------------------------------------------------------